<br><br>
<div class="form1-container">
  <h2 class="form-title">Your input matters! Could you spare a few moments to complete the questionnaire?</h2>
<div *ngFor="let question of questions" class="mb-4">
  <p class="fw-bold">{{ question.questionText }}</p>
  <div *ngFor="let option of question.options" class="form-check mb-2">
    <input
      class="form-check-input"
      type="radio"
      [id]="'radio'+option"
      [name]="'question'+question.id"
      [value]="option"
      [(ngModel)]="userResponses[question.id]"
    />
    <label class="form-check-label" [for]="'radio'+option">{{ option }}</label>
  </div>
</div>
<p class="engagement-message">Your opinions matter! 🌟</p>
<button type="button" class="btn btn-primary submit-btn" (click)="submitResponses()">Submit</button>
</div>