
.bt{
  color: #767a78;
  padding:5px 20px;background: transparent;border: 2px solid rgb(116, 115, 111);outline: none; cursor: pointer;align-items: center;border-radius: 15px;
}

.bt:hover{
  background-color: rgb(223, 244, 247);   
}
/* Additional CSS */
.custom-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dialog .modal-content {
  width: 80%; /* Adjust the width as needed */
  max-height: 80vh; /* Adjust the max-height to fit within the viewport */
  overflow-y: auto;
}

.custom-dialog .modal-body {
  padding: 20px; /* Adjust padding as needed */
}
